
h1{
    text-align: center;
    margin: 0;
    padding: 1.5rem;
}

h2,h3{
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

body{
    margin: 0;
}

header , footer{
    /* margin: 0; */
    background-color: #52B788;
}

nav , a{
    margin-right: 2rem;
    text-align: right;
    color: black;
}


/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */
/* index.html and istriangle.js first page */
.container{
    max-width: 500px;
    margin: auto;
    display: block;
}

.angleinput{
    padding: 0.8rem;
    border-radius: 0.6rem;
    width: 80%;
    margin-bottom: 1rem;
}

#istriangle-btn{
    text-align: center;
    margin: auto;
    display: block;
    padding: 0.8rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
}

#output-msg{
    display: block;
    text-align: center;
    margin: auto;
    font-size: 1.5rem;
    margin-top: 1.4rem;
}

/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */

/* Hypotenuse  html and hypotenuse.js*/

.side1 , .side2{
    padding: 0.8rem;
    border-radius: 0.6rem;
    width: 90%;
    margin-bottom: 1rem;
}

#hypotenuse-btn{
    text-align: center;
    margin: auto;
    display: block;
    padding: 0.8rem;
    border-radius: 0.6rem;
    font-size: 1.1rem;
}




/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */

/* area triangle.html and area triangle JS */

.base,.height{
    padding: 0.8rem;
    border-radius: 0.6rem;
    width: 90%;
    margin-bottom: 1rem;

}

#area-btn{
    display: block;
    padding: 0.8rem;
    text-align: center;
    margin: auto;
    border-radius: 0.5rem;
    border: 2px solid black;
    font-size: 1.1rem;
}






/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */
/* ----------------------*********************--------------- */

/* Footer in general */
.footer{
    margin-top: 3rem;
    padding: 1.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.footerText{
    font-size: 1.3rem;
}